<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.air.own.airprofilewidget" >
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/application_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name=".SwitchProfileWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.media.VOLUME_CHANGED_ACTION" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.air.changeProfile"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/air_profile" />
        </receiver>

    </application>

</manifest>
